
		<header class="header">

			<div class="main-menu">
				<ul>
					<li{{#is basename "index"}} class="active"{{/is}}>
						<a href="index.html">Home</a>
					</li>
					<li{{#is basename "about"}} class="active"{{/is}}>
						<a href="about.html">about</a>
					</li>
					<li{{#is basename "services"}} class="active"{{/is}}>
						<a href="services.html">Services</a>
					</li>
					<li{{#is basename "contact-us"}} class="active"{{/is}}>
						<a href="contact-us.html">Contact Us</a>
					</li>
				</ul>
			</div>
			
		</header>