/* #Variables
================================================== */


/* colours */

$lightgrey: #fafafa;
$darkgrey: #343434;
$midgrey: #9f9f9f;



/* fonts */
$text-colour: #181818;
$text-grey: #4e4e4e;




$font-primary: "Segoe UI", Helvetica, sans-serif;
